$headerColor: #fff159;
$backgroundBody: #e9ecef;
$backgroundItems: #fff;
$fontMain: 'Roboto';
$fontItemColor: #333;
$colorBreadcrumb: #999;
$freeShippingColor: #00a650;

html,body {
  background-color: $backgroundBody;
  font-family: $fontMain;
}

/* Estilos buscador */

.nav-logo {
    background-image: url(https://http2.mlstatic.com/ui/navigation/4.4.2/mercadolibre/logo__small.png);
    background-repeat: no-repeat;
    height: 28px;
    overflow: hidden;
    text-indent: -999px;
    width: 39px;
    outline: 0;
}

.nav-header {
    background-color: $headerColor;
    border: 0;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-    input:focus {
    border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none !important;
}

.form-inline {
  flex: auto;
}

.form-control:focus {
  outline: none !important;
  border-color: #ced4da !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.navbar {
  input {
    border-right: none;
  }
  .input-group-text {
    border-left: none;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    cursor: pointer;
  }
}

/* Estilos resultados de busqueda */

.bg-items {
  background-color: $backgroundItems;
}

.item-container {
  border-bottom: 1px solid $backgroundBody;
}

.items-img-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  border: 1px solid $backgroundBody;
  margin: 10px 5px;
  background: #0a248e0a;
}

.item-title {
  font-size: 20px;
  font-weight: 300;
  color: $fontItemColor;
}

.item-price {
  font-size: 24px;
  font-weight: 400;
  color: $fontItemColor;
}

.thumb-product {
  border: 1px solid #e9ecef;
  padding: 10px;
  border-radius: 10px;
  background: #fff15921;
}

.result-condition {
  color: #555;
  background: #e9ecef;
  padding: 0px 4px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: $colorBreadcrumb;
    content: ">";
}

.breadcrumb-item.active {
    color: $colorBreadcrumb;
}

.breadcrumb-item {
    color: $colorBreadcrumb;
}

a {
  color: $fontItemColor;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.flex-auto {
  flex: auto;
}

/* Estilos detalle de item */

.img-product {
  max-width: 100%;
}

.product-title {
  font-size: 20px;
  font-weight: 600;
  color: $fontItemColor;
}

.product-price {
  font-size: 26px;
  font-weight: 300;
  color: $fontItemColor;
}

.amount-decimals {
  font-size: 14px;
  top: 0;
  position: relative;
  vertical-align: text-top;
  left: 3px;
}

.free-shipping-product {
  color: $freeShippingColor;
}

.description-title {
  font-weight: 400;
  font-size: 24px;
}

/* Spinner*/
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Sugerencias de busqueda */

.suggestions {
  border-top: 1px solid #e6e6e6;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    padding: 0;
    z-index: 1005;
    margin-top: 0;
    min-width: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-top: 38px;
    background: #fff;
    z-index:5;
    p {
      padding: 10px;
      margin: 0;
      cursor: pointer;
    }
    p:hover {
      opacity: 0.5;
    }
}


/* Media queries*/

@media (min-width: 1024px) {
  .nav-logo {
      background-image: url(https://http2.mlstatic.com/ui/navigation/4.4.2/mercadolibre/logo__large_plus.png);
      height: 34px;
      top: 11px;
      width: 134px;
  }
}

@media (min-width: 992px) {
  .product-title {
    font-size: 26px;
  }

  .product-price {
    font-size: 44px;
  }

  .amount-decimals {
    font-size: 20px;
  }
}
